body{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-light .navbar-text {
    color: $primary;
    font-size: 20px;
}
.navbar-light .navbar-text  a{
    color:$primary;
    padding: 0px 15px;
    font-size: 14px;
}
.navbar-light a:hover{
    color: #6a3a2b;
    text-decoration: none;
}
.modal.modal-dialog-aside .modal-dialog{
	width: 350px;
	max-width:80%; height: 100%; margin:0;
	transform: translate(0); transition: transform .2s;
}


.modal.modal-dialog-aside .modal-content{  height: inherit; border:0; border-radius: 0;}
.modal.modal-dialog-aside .modal-content .modal-body{ overflow-y: auto }
.modal.fixed-right.modal-dialog-aside .modal-dialog{ margin-left:auto;  transform: translateX(100%); }
.modal.fixed-left.modal-dialog-aside .modal-dialog{ margin-right:auto; transform: translateX(-100%); }

.modal.show.modal-dialog-aside .modal-dialog{ transform: translateX(0);  }

.modal-header{
    border: none;
    padding: 0;
    .close{
        margin-right: 5px;
    
    }
}







// Small devices (landscape phones, 576px and up)
@media (min-width: 310px) { 
    .hero-logo span {
            border-bottom: 2px solid white;
        }

}
@media (min-width: 576px) {  
    .hero-overlay h1 {
        font-size: 40px;
    }

    
    
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  
    .hero-overlay h1 {
        font-size: 80px;
    }
    .hero-logo span {
        padding-bottom: 9px;
    
        letter-spacing: 0.45em;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .hero-overlay h1 {
        font-size: 112px;
    }
    .modal-dialog {
        max-width: 940px;
        // max-height: 620px;
        // margin: 1.75rem auto;
    } 
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  

}